body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 90%; /* Ajusta el ancho de la tabla */
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px; /* Aumenta el padding para más espacio */
    text-align: left;
    vertical-align: middle; /* Alinea verticalmente el contenido */
}

th {
    background-color: #f2f2f2;
}

form {
    width: 90%; /* Ajusta el ancho del formulario */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form textarea {
    width: calc(100% - 16px); /* Ajusta el ancho para el padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #218838;
}

/* Estilos para las imágenes pequeñas */
.icon {
    width: 24px;  /* Ajusta el ancho de la imagen */
    height: 24px; /* Ajusta la altura de la imagen */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}

.console {
    width: 90%; /* Aumenta el ancho del contenedor */
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}